.container {
    display: flex;
    align-items: flex-start;
    padding: 1rem;
    width: 100%;
    height: 72px;
    border: 1px solid var(--gray-400);
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
    background: var(--gray-500);
}

.container input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--gray-400);
    margin: 0;

    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.11em solid var(--blue);
    border-radius: 50%;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;
}

.container input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: var(--gray-200);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }

  .container input[type="checkbox"]:checked::before {
    transform: scale(1);
  }

  .container input[type="checkbox"]:not(:checked) {    
    transition: all 0.2s ease;
  }

  .container input[type="checkbox"]:checked {
    background-color: var(--purple-dark);
    border: 0.11em solid var(--purple-dark);
    transition: all 0.2s ease;
  }

  .container input[type="checkbox"]:not(:checked):hover {
    background-color: rgba(30, 111, 159, .1);
    border: 0.11em solid var(--blue-dark);
  }

  .container input[type="checkbox"]:checked:hover {
    background-color: rgba(94, 96, 206, .6);
    border: 0.11em solid var(--purple-dark);
  }

.container p {
    margin-left: 12px;
    font-weight: 400;
    color: var(--gray-100);
    font-size: 14px;
    line-height: 140%;
}

.container svg {
    color: var(--gray-300);
    margin-left: 12px;
    transition: color 0.2s ease;
}

.container svg:hover {
    color: var(--danger);    
}